.UpdateNoteForm {
  border: 1px solid black;
  width: 35%;
  margin: auto;
  background: rgba(0, 0, 168, 0.089);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 203.14px;
}

span {
  width: 12.67px;
}

.updateButton {
  margin-left: auto;
}

.UpdateNoteForm h4 {
  margin-top: -6px;
}

.UpdateNoteForm button {
  width: auto;
  margin: auto;
}